<%- include('partials/header') %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2 class="h1 display-4">Administration</h2>
  <p class="lead">Espace permettant de gérer les quizzes !</p>
</div>

<div class="row">
  <div class="col-12">
    <h3>Ajouter un tag</h3>
    <form action="" method="POST">
      <div class="form-group">
        <label for="newTag">Tag</label>
        <input type="text" class="form-control" id="newTag" name="newTag">
      </div>
      <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
  </div>
</div>

<%- include('partials/footer') %>